{{define "body"}}

<title>Change Password</title>

<div style="height: 105vh">
        <div class="flex-center flex-column">

    {{ if .Response }}

        {{ if .Error }}
           
                <div class="alert alert-indigo indigo darken-4 alert-dismissible  text-white fade show" role="alert">
                    <strong>Change Password Failed - </strong> {{ .ErrorMsg}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span class= "text-white" aria-hidden="true">&times;</span>
                    </button>
                </div>
            
        {{end}}

    <script type="text/javascript">

        $(document).ready(function () {

            $('.changePwd').click(function() {
              
              console.log(" ChangePwd Btn Click")          
              $('form[name="changePwdForm"]').submit();
                    
            });

        });

    </script>
 
          <main>

              <div class="card border-dark">

                  <div class="card-header text-white bg-danger mb-3">
            
                    <span class="font-weight-bolder">Change Password</h5>
                      
                  </div>
            
                  <div class="card-body border-secondary mb-3">
                  <!-- Default form login -->
                    <form class="text-center  p-3" action="/change_pwd" method="post">
                                          
            
                      <h4 class="animated fadeIn mb-3" style="font-family  : Roboto-Bold;	
                        font-size    : 16px;"><span class="badge badge-pill badge-dark waves-effect">{{ .SessionUserData.Email }}</span> </h4>
            
                      <!-- Old Password -->
                      <input type="password" class="form-control mb-4 form-control-sm" title="Please enter old Password" placeholder="Old Password" required id="oldPwd" name="oldPwd">
                                          
                      <!-- New Password -->
                      <input type="password" id="newPwd" name="newPwd" class="form-control mb-4 form-control-sm"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="New Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" required>
                                                  
                       <!-- Chnage password button -->
                       <input type="hidden" name="email" value="{{ .SessionUserData.Email }}">
                       <input type="hidden" name="userType" value="{{ .SessionUserData.Role }}">
                   
                       <input type="hidden" name="changePwdSubmitted" value="true">
                       <button id="changePwd" class="btn btn-light  btn-block my-4 changePwd" type="submit">Submit</button>
                          
                    </form>
                  </div>	
                </div>
          </main>
        </div>
    </div>
  {{end}}
           

{{end}}