{{define "body"}}

<title>Register</title>
	
<header>
			
		<nav class="navbar fixed-top navbar-expand-md navbar-dark black mdb-color mb-5">
				  
			<div class="mr-auto">
					 
				<nav aria-label="breadcrumb">
						<a class="navbar-brand">
							<img src="/assets/css/images/logo_fabric.png" width="30" height="25"/>					
						</a>  
						<ol class="breadcrumb d-inline-flex pl-0 pt-0">
					<li class="breadcrumb-item"><a class="white-text font-weight-bolder"><span class="font-weight-bold">Private Ledger</span></a></li>
					</ol>
				</nav>
											  
			</div>

			 
			 
		</nav>
					
</header>

<!-- Start your project here-->
	<div style="height: 140vh">
			<div class="flex-center flex-column">
	
    {{ if .Response }}

		{{ if .Success }}



		{{end}}

		{{ if .Error }}
			
			<div class="alert alert-indigo indigo darken-4 alert-dismissible text-white fade show" role="alert">
					<strong>Registration Failed - </strong> {{ .ErrorMsg}}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span class="text-white" aria-hidden="true">&times;</span>
					</button>
			</div>	

		{{end}}

	{{end}}
		
	
		<div class="card border-dark">	

			<div class="card-header text-white bg-dark mb-3">

				<span class="font-weight-bolder"> Register to Private Ledger</span>
							
			</div>

			<div class="card-body border-secondary mb-3">
				<!-- Default form register -->
				<form class="text-center p-3" action="/register.html" method="post">
					 
					
					<div class="form-row mb-4">
							<div class="col">
								<!-- First name -->
								<input type="text" id="name" name="name"  style="font-family  : Roboto-Regular;	
								font-size    : 15px;" class="form-control form-control-sm" placeholder="Name" required>
							</div>
							<div class="col">
								<!-- Age -->
								<input type="text" id="age" name="age" style="font-family  : Roboto-Regular;	
								font-size    : 15px;" class="form-control form-control-sm" placeholder="Age" required>
							</div>
						</div>
	
						<!-- E-mail -->
						<input type="email" id="email" name="email" style="font-family  : Roboto-Regular;	
						font-size    : 15px;" class="form-control mb-4 form-control-sm" placeholder="E-mail" required>
	
						<!-- Password -->
						<input type="password" id="password" name="password" class="form-control mb-4 form-control-sm" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required name="password">
					
						<!-- Phone number -->
						<input type="text" id="mobile" name="mobile" style="font-family  : Roboto-Regular;	
						font-size    : 15px;" class="form-control mb-4 form-control-sm" placeholder="Phone number" required>			 
	
						<!-- Salary -->
						<input type="text" id="salary" name="salary" style="font-family  : Roboto-Regular;	
						font-size    : 15px;" class="form-control mb-4 form-control-sm" placeholder="Salary" required>			 
	
				
					<div class="form-row mb-4 form-control-sm">
						<div class="col">
							<!-- Role -->
							<select class="browser-default custom-select" style="font-family  : Roboto-Regular;	
							font-size    : 15px;" name="role">
								<option selected>Choose Role</option>
								<option value="admin">Admin</option>
								<option value="user">User</option>
							</select>
						</div>
						<div class="col">
							<!-- Company -->
							<select class="browser-default custom-select" style="font-family  : Roboto-Regular;	
							font-size    : 15px;" name="company">
								<option selected>Choose Company</option>
								<option value="org1">{{ .CustomOrg1}}</option>
								<option value="org2">{{ .CustomOrg2}}</option>
								<option value="org3">{{ .CustomOrg3}}</option>
								<option value="org4">{{ .CustomOrg4}}</option>
							</select>
						</div>
					</div>

					<!-- Sign up button -->
					<input type="hidden" name="signupSubmitted" value="true">
					<button class="btn btn-indigo darken-4 my-4 btn-block" type="submit">Sign Up</button>

					<!-- Login -->
					<p>Already a member?
						<a href="/login.html">Login</a>
					</p>

				</form>
			</div>		   
		</div>
	</div>
	  <!-- Start your project here-->
     
{{end}}